<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <div class="container">

      <%- include("header") -%>
      <div class="main-welcome-sidebar articles-page">
        <form class='register-login-article-form' action="/articles" method="post">
          <div>
            <div>
              <h2>Проверь статью</h2>
            </div>
            <div>
              <input class="input" type='text' name='article[title]' placeholder='Заголовок статьи' />
            </div>
            <div>
              <textarea type='text' id='textarea-base64' name='article[content]' placeholder='Текст статьи'></textarea>
            </div>
            <div class='fileinputs'>
              <input type="file" class='inputfile' id="file-selector" name='article[picture]' accept=".jpg, .jpeg, .png" onchange="encodeImageFileAsURL(this)">
              <label for="file-selector">Картинка...</label>
              <script>
                // const fileSelector = document.getElementById('file-selector');
                // fileSelector.addEventListener('change', (event) => {
                //   const file = event.target.files[0];
                //   const reader = new FileReader();
                //   reader.onloadend = function() {
                //     console.log('RESULT', reader.result);
                //   };
                //   reader.readAsDataURL(file);
                // });

                function encodeImageFileAsURL(element) {
                  const file = element.files[0];
                  const reader = new FileReader();
                  reader.onloadend = function() {
                    console.log('RESULT', reader.result);
                    file.url = reader.result;
                    // console.log(JSON.stringify(file));
                    console.log(file.url)
                    document.getElementById('textarea-base64').innerHTML = file.url;

                  }
                  reader.readAsDataURL(file);
                }
              </script>
            </div>
            <div>
              <input class="check-input-button" type='submit' value='Проверить' />
            </div>
          </div>
        </form>
      </div>
      <div class="main-welcome-action scroll">
        <% if ( articles == '' ) { %>
          <h3>У вас нет проверенных статей...</h3>
        <% }; %>
        <% articles.forEach(function(article) {%>
          <div class="article">
            <h2><%= article.title %></h2>
            <p><%= chopContent(article.content) %></p>
            <a class='article-button' href='/articles/article<%= article.id%>'>Читать</a>

            <% function chopContent(article) {
              var i = 0;
              var data = article;
              var content = '';
              while (i < 25) {
                if ( !data[i] ) { break; };
                content += data[i];
                i++;
              };
              content += '...';
              return content;
            }; %>

          </div>
        <% }) %>
      </div>
      <%- include("../public/footer.html") -%>
    </div>
  </body>
</html>
