<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <div class="container">

      <%- include("header") -%>

      <div class="main">
        <form action="/login" method="post">
          <div>
            <div>
              <h1><%=title %></h1>
            </div>
            <div>
              <input class="input" type='text' name='user[login]' placeholder='Username' />
            </div>
            <div>
              <input class="input" type='password' name='user[password]' placeholder='Password' />
            </div>
            <div>
              <input class="input-button" type='submit' value='Sign in' />
            </div>
            <div class="message">
              <%- include("messages") -%>
            </div>

          </div>
        </form>
      </div>

      <div class="footer"><%- include("../public/footer.html") -%></div>

    </div>
  </body>
</html>
