<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='http://vk.com/js/api/openapi.js' type='text/javascript'></script>
  </head>
  <body>

    <div class="container">

      <%- include("header") -%>

      <div class="main">
        <form action="/register" method="post">
          <div>
            <div>
              <h1><%=title %></h1>
            </div>
            <div>
              <input class="input" type='text' name='user[login]' placeholder='Username' />
            </div>
            <div>
              <input class="input" type='password' name='user[password]' placeholder='Password' />
            </div>
            <div>
              <input class="input-button" type='submit' value='Sign Up' />
            </div>
            <div class="message">
              <%- include("messages") -%>
            </div>

            <div>
               <input class="input-button" id="vkLogin" type='submit' value='Зарегестрироваться через ВКонтакте'>
               <!-- <button class="input-button" id="vkUnLogin">Выйти</button> -->
             </div>

             <script type="text/javascript">
               $(document).ready(function () {
                 // Инициализация
                 VK.init({
                   apiId: 7973474
                 });
                 $('#vkLogin').on('click', function () {
                   // Авторизация
                   VK.Auth.login(
                     // callback-функция, которая будет вызвана после авторизации
                     function (response) {
                       console.log(response)
                       if (response.status === 'connected') { // авторизация прошла успешно
                         var user = response.session.user; //  информация о пользователе
                           /*
                            user.first_name - имя;
                            user.last_name - фамилия;
                            user.href - ссылка на страницу в формате https://vk.com/domain;
                            user.id  - идентификатор пользователя;
                            user.nickname -  отчество или никнейм (если указано);
                            */
                       } else if (response.status === 'not_authorized') { // пользователь авторизован в ВКонтакте, но не разрешил доступ приложению;
                       } else if (response.status === 'unknown') { // пользователь не авторизован ВКонтакте.
                       }
                     },
                     // права доступа (integer)
                     // допустимые значения:
                     // AUDIO:8
                     // FRIENDS:2
                     // MATCHES:32
                     // PHOTOS:4
                     // QUESTIONS:64
                     // VIDEO:16
                     // WIKI:128
                     VK.access.PHOTOS
                   );
                 });
                 $('#vkUnLogin').on('click', function () {
                   // Выход
                   VK.Auth.logout(function (response) {
                     console.log(response);
                     // {session: null, status: "unknown", settings: undefined}
                   });
                 });
               });
             </script>



          </div>
        </form>
      </div>

      <div class="footer"><%- include("../public/footer.html") -%></div>

    </div>
  </body>
</html>
